<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Restaurant</th>
        <th>Rating</th>
        <th>Order Again</th>
        <th>Delete?</th>
    </tr>
    <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.description}}</td>
        <td>{{order.restaurant}}</td>
        <td>{{order.rating}}</td>
        <td *ngIf="order.orderAgain">✓</td>
        <td *ngIf="!order.orderAgain">X</td>
        <td><button (click)="delete(order.id)">Delete Order {{order.id}}</button></td>
    </tr>
</table>
<app-add-order-form (orderSave)="addOrder($event)"></app-add-order-form>